@page
@model Examining.Pages.Login.Doctors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Doctor.DoctorId" class="control-label"></label>
                <input asp-for="Doctor.DoctorId" class="form-control" />
                <span asp-validation-for="Doctor.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.DoctorName" class="control-label"></label>
                <input asp-for="Doctor.DoctorName" class="form-control" />
                <span asp-validation-for="Doctor.DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Gender" class="control-label"></label>
                <input asp-for="Doctor.Gender" class="form-control" />
                <span asp-validation-for="Doctor.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Phone" class="control-label"></label>
                <input asp-for="Doctor.Phone" class="form-control" />
                <span asp-validation-for="Doctor.Phone" class="text-danger"></span>
            </div>

                 <div class="form-group">
                <label asp-for="Doctor.DeptId" class="control-label"></label>
                <!-- Doctor.DeptId: item can sua-->
                <select asp-for="Doctor.DeptId" class="form-control"
                        asp-items="@Model.AllDept"> <!-- AllDept: ds cacdept hien thi tren select-->
                    <option value="">-- Select Dept --</option>
                </select>
                <span asp-validation-for="Doctor.DeptId" class="text-danger" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
