@page

@model Examining.Pages.Login.LoginModel

@{

    ViewData["Title"] = "Đăng Nhập";

}



<head>
  <title>Patient Login</title>

</head>

<html>

<body>

  <div align="center">

  <p><font size = "5">Đăng Nhập</font></p>

   @Model.Msg

    <form method="post" asp-page="Index" >

        <table border="0" cellpadding="2" cellspacing="2">

            <tr>

                <td>Tên Người Dùng</td>

                <td><input type="text" asp-for="@Model.Username"></td>

            </tr>

            <tr>

                <td>Mật Khẩu</td>

                <td><input type="password" asp-for="@Model.Password"></td>

            </tr>

            <tr>

                <td>&nbsp;</td>
                <td><input type="submit" value="Đăng nhập" /></td>
                
          

            </tr>
<!-- 
            <div>
                <a asp-page="Shared/_LayoutItem">Đăng Nhập</a>
            </div>| -->

        </table>

    </form>

    </div>



  

<!--===============================================================================================-->  

  <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

<!--===============================================================================================-->

  <script src="~/vendor/bootstrap/js/popper.js"></script>

  <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

<!--===============================================================================================-->

  <script src="~/vendor/select2/select2.min.js"></script>

<!--===============================================================================================-->

  <script src="~/js/main.js"></script>



</body>

</html>